modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["imagemagick"]

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb+srv://satyakachatgpt_db_user:SACHIN123@cluster0.3i2uisl.mongodb.net/test"
JWT_SECRET = "any-long-random-secret-123456"
PORT = "3001"
EMAIL_PASS = "clwx cyxf mlon rpgq"
EMAIL_USER = "gauravsurlia05@gmail.com"
